nav {
  text-align: right;
  /* height: 50px */
}
.left_nav {
  position: fixed;
  height: 100vh;
}
h4 {
  color: black;
  margin: 25px 10px auto;
}
.test {
  height: auto;
  background-color: rgb(240, 90, 90);
}
.center {
  /* border:  solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.center img {
  height: 110px;
  /* margin-left: 220px; */
}
/* .bars{
    border: solid red;
} */
ul {
  list-style: none;
  padding: 0;
}
li {
  margin: 15px auto;
}
.contain_Home {
  /* border: solid 1px red; */
  height: auto;
  margin-left: 10px;
}
.all_contain_Home {
  display: flex;
  justify-content: space-around;
}
.contenu {
  height: 250px;
  width: 220px;
  border: ridge black;
  /* margin-left:10px; */
}
.card-body {
  border-radius: none;
}
@media screen and (max-width: 760px) {
  .left_nav {
    display: none;
  }
}
