<nav>
  <h4>Inscription</h4>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 test">
      <div class="row">
        <div class="col-md-6 left">
          <img src="../image/inTime.png" alt="logo">
        </div>
        <div class="col-md-6 right">
          <ul>
              <li><input type="text" name="Identifient" placeholder="Nom utilisateur" id="id"></li>
              <li><input type="text" name="mdp" placeholder="Mot de passe" id="id"></li>
              <li><a routerLink="/index"><button>connexion</button></a></li>
          </ul>
             <a routerLink="/password">mot de passe oublié ?</a> 
            <router-outlet></router-outlet>
        </div>
      </div>
    </div> 
  </div>
</div>
