<div id="left_bar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1 left_nav">
        <h2>keep time and follow us</h2>
        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        <i class="fa fa-pinterest fa-2x" aria-hidden="true"></i>
        <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
        <i class="fa fa-google fa-2x" aria-hidden="true"></i>
      </div>
      <div class="top col-md-11 contain">
        <div class="row">
          <div class=" col-md-9 center">
            <img src="assets/InTimeNoir.svg">
          </div>
          <div class="col-md-3 bars">
            <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row">
          <h3>HOME</h3>
        </div>
        <div class="row">
          <div class="col-md-12 contain_Home">
            <div class="all_contain_Home">
              <form>
                <div class="search col-md-12">
                  <input type="text" placeholder="recherche" name="tv" [(ngModel)]="tv">
                </div>
                <button class="btn-block btn-success form-control" (click)="searchSerie()">Search</button>
                <div class="row">
                  <div class="col-sm-4" *ngFor="let movie of search_result; let i = index">
                    <div *ngIf="i < 6">
                      <div class="card mt-3 mb-3">
                        <div class="card-header text-center">
                          {{ movie.release_date | date:'mediumDate':'yyyy' }}
                        </div>
                        <div class="card-body">
                          <img class="card-img-top img-fluid" src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="{{ movie.original_title }}"
                            style="height: 460px">
                          <p class="text-center">{{ movie.name }}</p>
                          <a routerLink="/tv/{{ movie.id }}" class="btn btn-block btn-info">tv Details</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h1>Upcoming serie</h1>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4" *ngFor="let upcoming of upcoming_movies; let i = index">
                <div *ngIf="i < 6">
                  <div class="card mt-3 mb-3">
                    <div class="card-header text-center">
                      {{ upcoming.release_date | date:'mediumDate' }}
                    </div>
                    <div class="card-body">
                      <p class="text-center">{{ upcoming.name }}</p>
                      <img class="card-img-top img-fluid" src="https://image.tmdb.org/t/p/w500/{{ upcoming.poster_path }}" alt="{{ upcoming.original_title }}"
                        style="height: 460px">
                      <a routerLink="/tv/{{ upcoming.id }}" href="#" class="btn btn-block btn-info">tv Details</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>