<div id="left_bar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1 left_nav">
        <h2>keep time and follow us</h2>
        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        <i class="fa fa-pinterest fa-2x" aria-hidden="true"></i>
        <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
        <i class="fa fa-google fa-2x" aria-hidden="true"></i>
      </div>
      <div class="top col-md-11 contain">
        <div class="row">
          <div class=" col-md-9 center">
            <img src="assets/InTimeNoir.svg">
          </div>
          <div class="col-md-3 bars">
            <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 contain_Home">
            <div class="row">
              <h3>HOME</h3>
              <P>Lorem elit. Soluta, pariatur sapiente! Eaque neque labore in consequuntur delectus quas a eius, aperiam placeat
                accusantium distinctio impedit quos ipsa illum ad! Commodi!</P>

              <!-- <div class=" col-md-7 right">
              <ul class="champ">
                  <li><input type="text" placeholder="Nom Utilisateur"></li>
                  <li><input type="text" placeholder="mot de passe"></li>
                  <li><a routerLink="/home"><button>Connexion</button></a></li>
                </ul>
            </div> -->
            </div>
            <div class="all_contain_Home">
              <div class="contenu">
              </div>
              <div class="contenu">
              </div>
              <div class="contenu">
              </div>
            </div>
            <!-- <div class="text">
             <p>Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Eaque obcaecati, illum, pariatur molestiae ducimus 
                voluptates, natus laudantium aut voluptate esse eos mollitia
                 facilis laborum sint eveniet debitis delectus eum recusandae.</p>
           </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>