/* You can add global styles to this file, and also import other style files */
html,
body {
  width: 100%;
  height: auto;
}
body {
  background-image: url(assets/3.jpg);
  overflow-x: hidden;
}
#left_bar {
  height: auto;
}
.left_nav {
  border-right: 2px solid black;
  height: auto;
  box-shadow: 5px 2px 15px black;
}
.left_nav i {
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding: 0 0 15px 0;
}
.left_nav h2 {
  display: block;
  writing-mode: vertical-rl;
  /* margin-left: 20px; */
  margin-bottom: 40px;
  transform: rotate(180deg);
  text-align: right;
}
.contain {
  height: 100%;
}
.contain i {
  display: flex;
  justify-content: flex-end;
  height: 60px;
}
.contain_home {
  height: 90vh;
}

.right {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.right li input {
  background-color: transparent;
  border: 0px;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: 1px 5px 6px black;
  height: 40px;
  width: 230px;
  color: black;
}
.right li button {
  background-color: transparent;
  border: 0px;
  outline: none;
  height: 40px;
  width: 230px;
  color: black;
}
.left {
  height: 70vh;
  /* border:  solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  height: 300px;
  width: 300px;
}

li {
  list-style: none;
  padding: 0 0 20px 0;
}
.text {
  text-align: center;
}
@media screen and (max-width: 760px) {
  .left_nav {
    display: inline;
    border-right: 2px solid black;
    height: auto;
    box-shadow: 5px 2px 15px black;
  }
  .left_nav i {
    display: inline;
  }
  .left_nav h2 {
    margin: 0 auto;
    writing-mode: horizontal-tb;
    display: inline;
  }
}
