<div id="left_bar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1 left_nav">
        <h2>keep time and follow us</h2>
        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        <i class="fa fa-pinterest fa-2x" aria-hidden="true"></i>
        <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
        <i class="fa fa-google fa-2x" aria-hidden="true"></i>
      </div>
      <div class="top col-md-11 contain">
        <div class="row">
          <div class=" col-md-9 center">
            <img src="assets/InTimeNoir.svg">
          </div>
          <div class="col-md-3 bars">
            <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 title">
            <h1>Profil </h1>
            <br>
            <h4>Mes Série suivie</h4>
            <div class="row">

              <div class="row">
                <div class="col-md-4" *ngFor="let serie of series; let i = index">
                  <div class="card mt-3 mb-3">
                    <div class="card-header text-center">
                      {{ serie.release_date | date:'mediumDate' }}
                    </div>
                    <div class="card-body">
                      <p class="text-center">{{ serie.name }}</p>
                      <img class="card-img-top img-fluid" src="https://image.tmdb.org/t/p/w500{{ serie.photo }}" alt="{{ serie.original_title }}"
                        style="height: 460px">
                      <a routerLink="/tv/{{ serie.id }}" href="#" class="btn btn-block btn-info">tv Details</a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>